__pycache__/
py_environment/
# nuitka
*.bin/
*.build/
*.dist/
#
/inspiration/
/build/
/dist/
.build/
.dist/
*.zip
*.bak
*.ufo/**/*.svg
specimens/*.png
specimens/*.pdf
# as this font relies on glifjson and MFEKglif --export
FRBAmericanPrint-SOURCE.ufo/glyphs/*.glif
