<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>public.openTypeMeta</key>
    <dict>
        <key>dlng</key>
        <array>
            <string>Latn</string>
            <string>ru-Cyrl</string>
        </array>
        <key>slng</key>
        <array>
            <string>Latn</string>
            <string>Cyrl</string>
        </array>
    </dict>
</dict>
</plist>
